*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  /*equivalent to font-size:10px, since default is 16px*/ }

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: #777;
  padding: 3rem;
  box-sizing: border-box; }

.section-about {
  background-color: #f7f7f7;
  background-size: cover;
  height: 100vh; }

.section-heading {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  background-image: linear-gradient(to right, #7ed56f, #28b485);
  -webkit-background-clip: text;
  color: transparent;
  transition: all .2s; }
  .section-heading:hover {
    transform: skewX(2deg) skewY(2deg) scale(1.1); }

.u-center-text {
  text-align: center; }

.row {
  max-width: 114rem;
  background-color: #777;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
