$color-black: #000;
$color-white: #fff;
$color-primary: #497cb1;
$color-primary-light:#a3e2f1;
$color-primary-dark: #1e5adb;
$color-grey-dark: #525050;

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size:62.5%; /*equivalent to font-size:10px, since default is 16px*/
}

body {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    /*font-size: 1.6rem;*/
    line-height: 1.7;
    color: #777;
    padding: 3rem;
    box-sizing: border-box;
}

.header {
    height: 95vh;
    background-image: linear-gradient(to right bottom,
        rgba($color-primary-light, 0.8),
        rgba($color-primary-dark, 0.8)),
     url(../img/icecreams.jpg);
    background-size: cover;
    background-position: top;
    position: relative;
    clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%); 
}

.logo-box {
    position: absolute;
    top: 4rem;
    left: 4rem;
}

.logo {
    height: 3.5rem;
}

.header-box {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);    
    text-align: center;
}

.heading-primary {
    color:#fff;
    text-transform: uppercase;
    margin-bottom: 6rem;
    backface-visibility: hidden; 
}

.heading-primary-main {
    display: block;
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 3.5rem;
}

.heading-primary-sub {
    display: block;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 2.04rem;
}

@keyframes moveInBottom {
    0% {
        opacity: 0;
        transform: translateY(3rem);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

.btn {
    &,
    &:link,
    &:visited{
        text-transform: uppercase;
        text-decoration: none;
        padding: 1.5rem 4rem;
        display: inline-block;
        border-radius: 10rem;
        transition: all .2s;
        position: relative;
        font-size: 1.6rem;

        //styling for <button> element
        border: none;
        cursor: pointer;
    }
    
    &--color{
        background-color: $color-primary;
        color: $color-white;
    }
}

.btn:hover {
    transform: translateY(-.3rem);
    box-shadow: 0 1rem 2rem rgba($color-black,.4);
}

.btn:active {
    outline: none;
    transform: translateY(-.1rem);
    box-shadow: 0 .5rem 1rem rgba($color-black,.4);
}

.btn-white {
    background-color: #fff;
    color: #777;
}

.btn::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 10rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .5s;
}

.btn-white::after {
    background-color: #fff;
}

.btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}

.btn-animated {
    animation: moveInBottom .5s ease-out .75s;
    animation-fill-mode: backwards;
}

.section-heading {
    font-size: 4.5rem;
    text-transform: uppercase;
    font-weight: 700;
    display: inline-block;
    background-image: linear-gradient(to right, $color-primary, $color-primary-dark);
    -webkit-background-clip: text;
    color: transparent;
    letter-spacing: .2rem;
    transition: all .2s;

    &:hover {
        transform: skewX(2deg) skewY(2deg) scale(1.1);
        text-shadow: .5rem 1rem 2rem rgba($color-black, .2);
    }
}


.u-margin-bottom-medium { margin-bottom: 4rem !important; }
.u-margin-bottom-large { margin-bottom: 8rem !important; }

.popup {
    height: 100vh;
    width: 100%;
    position: fixed;
    background-color: rgba($color-black, .8);
    top: 0;
    left: 0;
    
    opacity: 0;
    visibility: hidden;
    transition: all .5s;

    &:target {
        opacity: 1;
        visibility: visible;
    }
    
    &__content {
        width: 75%;
        height: 70rem;
        background-image: linear-gradient(105deg,
                            rgba($color-primary-light, 0.8) 0%,
                            rgba($color-primary-light, 0.8) 50%,
                            transparent 50%
                            ),
         url(../img/popup-image.jpg);
        background-size: cover;
        border-radius: 3px;
        box-shadow: 0 2rem 4rem rgba($color-black, .2);
        position:absolute;
        top: 50%;
        left: 50%;

        opacity: 0;
        transform:translate(-50%, -50%) scale(.5);
        transition: all .2s .3s;
    }

    &:target &__content {
        opacity: 1;
        transform:translate(-50%, -50%) scale(1);
    }

    &__close {
       &:link,
       &:visited {
            position: absolute;
            top: 2.5rem;
            right: 2.5rem;
            font-size: 3rem;
            font-weight: 700;
            color: $color-grey-dark;
            text-decoration: none;
            display: inline-block;
            transition: all .2s;
            line-height: 1;
       }

       &:hover {
           color: $color-primary;
       }
    }

    &__form {
        width: 50%;
        padding: 6rem;
    }
}

.form {
    &__group:not(:last-child) {
        margin-bottom: 2rem;
    }

    &__input {
        font-size: 2.5rem;
        font-family: inherit;
        padding: 1.5rem 2rem;
        border-radius: 2px;
        background-color: rgba($color-white, 0.8);
        border: none;
        border-bottom: 4px solid transparent;
        width: 90%;
        display: block;
        transition: all .3s;

        &:focus {
            outline: none;
            border-bottom: 4px solid $color-primary;
            box-shadow: 0 1rem 2rem rgba($color-black, .2);

            &:invalid {
                border-bottom: 4px solid #ff7730;
            }
        }

        &::-webkit-input-placeholder {
            color: #777;
        }
    }

    &__label {
        display: block;
        margin-left: 2rem;
        margin-top: 1rem;
        font-size: 1.6rem;
        font-weight: 700;
        transition: all .3s;
    }

    &__input:placeholder-shown + &__label {
        opacity: 0;
        visibility: hidden;
        transform: translateY(-5rem);
    }

    &__radio-group {
        width: 49%;
        display: inline-block;
    }

    &__radio-input {
        display: none;
    }

    &__radio-label {
        font-size: 2.5rem;
        cursor: pointer;
        position: relative;
        padding-left: 4.5rem;
    }

    &__radio-button {
        height: 3rem;
        width: 3rem;
        border: 5px solid $color-primary;
        border-radius: 50%;
        display: inline-block;
        position: absolute;
        top: 0;
        left: 0;

        &::after {
            content: "";
            display: block;
            height: 1.4rem;
            width: 1.4rem;
            border-radius: 50%;
            background-color: $color-primary;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            opacity: 0;
            transition: opacity .2s;
        }
    }

    &__radio-input:checked ~ &__radio-label &__radio-button::after {
        opacity: 1;
    }
}

