$color-primary-light: #d88e72;
$color-primary: #cc5d34;
$color-primary-dark: #eb480d;

$color-grey-dark: #777;
$color-grey-light: #f7f7f7;

$color-black: #000;
$color-white: #fff;
$grid-width: 114rem;
$gutter-horizontal: 6rem;
$gutter-vertical: 8rem;

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size:62.5%; /*equivalent to font-size:10px, since default is 16px*/
}

body {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    line-height: 1.7;
    color: $color-grey-dark;
    padding: 3rem;
    box-sizing: border-box;
}

.section-about {
    background-color: $color-grey-light;
    background-size: cover;
    height: 95vh;
    padding: 15rem;
    margin: 0 auto;
}

.section-heading {
    font-size:3.5rem;
    text-transform: uppercase;
    font-weight: 700;
    display: inline-block;
    background-image: linear-gradient(to right, $color-primary-light, $color-primary-dark);
    -webkit-background-clip: text;
    color: transparent;
    letter-spacing: .2rem;
    transition: all .2s;

    &:hover {
        transform: skewX(2deg) skewY(2deg) scale(1.1);
        text-shadow: .5rem 1rem 2rem rgba($color-black, .2);
    }
}

.u-center-text {text-align: center; }
.u-margin-vertical-large { 
    margin: 8rem 0;
 }
.u-margin-bottom-large { margin-bottom: 8rem; }
.u-margin-bottom-medium { margin-bottom: 4rem; }
.u-margin-bottom-small { margin-bottom: 1.5rem; }

.row {
    max-width: $grid-width;
    margin: 0 auto;

    &:not(:last-child) {
        margin-bottom: $gutter-vertical;
    }
    
    [class^="col-"] {
        float: left;

        &:not(:last-child) {
             margin-right: $gutter-horizontal;
        }
    }

    .col-1-of-2 {
        width: calc((100% - #{$gutter-horizontal}) / 2);
    }

    &::after {
        content: "";
        display: table;
        clear: both;
    }    
}

.section-heading-sub {
    font-size: 2rem;
    font-weight: 700;
    text-transform: uppercase;
}

.paragraph {
    font-size: 1.6rem;

    &:not(:last-child) {
        margin-bottom: 3rem;
    }
}

.btn-text {
    &:link,
    &:visited {
        font-size: 1.6rem;
        color: $color-primary;
        display: inline-block;
        text-decoration: none;
        border-bottom: 1px solid $color-primary;
        padding: 3px;
        transition: all .2s;

    }

    &:hover {
        background-color: $color-primary;
        color: $color-white;
        box-shadow: 0 1rem 2rem rgba($color-black, .15);
        transform: translateY(-2px);
    }

    &:active {
        box-shadow: 0 1rem 2rem rgba($color-black, .15);
        transform: translateY(0);
    }
}

.composition {
    position: relative;

    &__photo {
        width: 55%;
        box-shadow: 0 1.5rem 4rem rgba($color-black, .4);
        border-radius: 2px;
        position: absolute;
        z-index: 10;
        transition: all .2s;
        outline-offset: 2rem;

        &--p1 {
            left: 0;
            top: -2rem;
        }

        &--p2 {
            right: 0;
            top: 2rem;
        }

        &--p3 {
            left: 20%;
            top: 10rem;
        }

        &:hover {
            outline: 1.5rem solid $color-primary;
            transform: scale(1.05) translateY(-2rem);
            box-shadow: 0 2.5rem 4rem rgba($color-black, .5);
            z-index: 20;
        }
    }

    &:hover &__photo:not(:hover) {
        transform: scale(0.95);
    }
}