*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  /*equivalent to font-size:10px, since default is 16px*/ }

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  /*font-size: 1.6rem;*/
  line-height: 1.7;
  color: #777;
  padding: 3rem;
  box-sizing: border-box; }

.header {
  height: 95vh;
  background-image: linear-gradient(to right bottom, rgba(163, 226, 241, 0.8), rgba(30, 90, 219, 0.8)), url(../img/icecreams.jpg);
  background-size: cover;
  background-position: top;
  position: relative;
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%); }

.logo-box {
  position: absolute;
  top: 4rem;
  left: 4rem; }

.logo {
  height: 3.5rem; }

.header-box {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center; }

.heading-primary {
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 6rem;
  backface-visibility: hidden; }

.heading-primary-main {
  display: block;
  font-size: 6rem;
  font-weight: 400;
  letter-spacing: 3.5rem; }

.heading-primary-sub {
  display: block;
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 2.04rem; }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

.btn, .btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  display: inline-block;
  border-radius: 10rem;
  transition: all .2s;
  position: relative;
  font-size: 1.6rem;
  border: none;
  cursor: pointer; }

.btn--color {
  background-color: #497cb1;
  color: #fff; }

.btn:hover {
  transform: translateY(-0.3rem);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4); }

.btn:active {
  outline: none;
  transform: translateY(-0.1rem);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.4); }

.btn-white {
  background-color: #fff;
  color: #777; }

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all .5s; }

.btn-white::after {
  background-color: #fff; }

.btn:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0; }

.btn-animated {
  animation: moveInBottom .5s ease-out .75s;
  animation-fill-mode: backwards; }

.section-heading {
  font-size: 4.5rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  background-image: linear-gradient(to right, #497cb1, #1e5adb);
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: .2rem;
  transition: all .2s; }
  .section-heading:hover {
    transform: skewX(2deg) skewY(2deg) scale(1.1);
    text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2); }

.u-margin-bottom-medium {
  margin-bottom: 4rem !important; }

.u-margin-bottom-large {
  margin-bottom: 8rem !important; }

.popup {
  height: 100vh;
  width: 100%;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.8);
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  transition: all .5s; }
  .popup:target {
    opacity: 1;
    visibility: visible; }
  .popup__content {
    width: 75%;
    height: 70rem;
    background-image: linear-gradient(105deg, rgba(255, 255, 255, 0.8) 0%, rgba(255, 255, 255, 0.8) 50%, transparent 50%), url(../img/popup-image.jpg);
    background-size: cover;
    border-radius: 3px;
    box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 50%;
    left: 50%;
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.5);
    transition: all .2s .3s; }
  .popup:target .popup__content {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1); }
  .popup__close:link, .popup__close:visited {
    position: absolute;
    top: 2.5rem;
    right: 2.5rem;
    font-size: 3rem;
    font-weight: 700;
    color: #525050;
    text-decoration: none;
    display: inline-block;
    transition: all .2s;
    line-height: 1; }
  .popup__close:hover {
    color: #497cb1; }
  .popup__form {
    width: 50%;
    padding: 6rem; }

.form__group:not(:last-child) {
  margin-bottom: 2rem; }

.form__input {
  font-size: 2.5rem;
  font-family: inherit;
  padding: 1.5rem 2rem;
  border-radius: 2px;
  background-color: rgba(255, 255, 255, 0.8);
  border: none;
  border-bottom: 4px solid transparent;
  width: 90%;
  display: block;
  transition: all .3s; }
  .form__input:focus {
    outline: none;
    border-bottom: 4px solid #497cb1;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }
    .form__input:focus:invalid {
      border-bottom: 4px solid #ff7730; }
  .form__input::-webkit-input-placeholder {
    color: #777; }

.form__label {
  display: block;
  margin-left: 2rem;
  margin-top: 1rem;
  font-size: 1.6rem;
  font-weight: 700;
  transition: all .3s; }

.form__input:placeholder-shown + .form__label {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-5rem); }

.form__radio-group {
  width: 49%;
  display: inline-block; }

.form__radio-input {
  display: none; }

.form__radio-label {
  font-size: 2.5rem;
  cursor: pointer;
  position: relative;
  padding-left: 4.5rem; }

.form__radio-button {
  height: 3rem;
  width: 3rem;
  border: 5px solid #497cb1;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0; }
  .form__radio-button::after {
    content: "";
    display: block;
    height: 1.4rem;
    width: 1.4rem;
    border-radius: 50%;
    background-color: #497cb1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity .2s; }

.form__radio-input:checked ~ .form__radio-label .form__radio-button::after {
  opacity: 1; }
