* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  color: #777;
  padding: 30px; }

.header {
  height: 95vh;
  background-image: linear-gradient(to right bottom, rgba(85, 197, 122, 0.8), rgba(40, 180, 133, 0.8)), url(../img/specs.jpg);
  background-size: cover;
  background-position: top;
  clip-path: polygon(0 0, 100% 0, 100% 80vh, 0 100%); }

.navigation__checkbox {
  display: none; }

.navigation__button {
  height: 7rem;
  width: 7rem;
  border-radius: 50%;
  background-color: #fff;
  text-align: center;
  position: fixed;
  top: 6rem;
  right: 6rem;
  z-index: 2000;
  cursor: pointer;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1); }

.navigation__icon {
  position: relative;
  margin-top: 3.5rem; }
  .navigation__icon, .navigation__icon::before, .navigation__icon::after {
    width: 3rem;
    height: 3px;
    background-color: #333;
    display: inline-block; }
  .navigation__icon::before, .navigation__icon::after {
    content: "";
    position: absolute;
    left: 0;
    transition: all .2s; }
  .navigation__icon::before {
    top: -0.8rem; }
  .navigation__icon::after {
    top: 0.8rem; }

.navigation__background {
  height: 6rem;
  width: 6rem;
  border-radius: 50%;
  background-image: radial-gradient(#55c57a, #28b485);
  text-align: center;
  position: fixed;
  top: 6.5rem;
  right: 6.5rem;
  z-index: 1000;
  cursor: pointer;
  transition: transform .8s; }

.navigation__nav {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1500;
  opacity: 0;
  width: 0;
  transition: all .8s; }

.navigation__list {
  width: 100%;
  list-style: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.navigation__item {
  margin: 1rem;
  text-align: center; }

.navigation__link:link, .navigation__link:visited {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 3rem;
  font-weight: 300;
  color: #fff;
  padding: 1rem 2rem; }

.navigation__button:hover .navigation__icon::before {
  top: -.95rem; }

.navigation__button:hover .navigation__icon::after {
  top: .95rem; }

.navigation__checkbox:checked + .navigation__button .navigation__icon {
  background-color: transparent; }

.navigation__checkbox:checked + .navigation__button .navigation__icon::before {
  top: 0;
  transform: rotate(135deg); }

.navigation__checkbox:checked + .navigation__button .navigation__icon::after {
  top: 0;
  transform: rotate(-135deg); }

.navigation__checkbox:checked ~ .navigation__background {
  transform: scale(80); }

.navigation__checkbox:checked ~ .navigation__nav {
  opacity: 1;
  width: 100%; }
